@media screen and (min-width: 620px){
    body {
        width: 100%;
        font-size: 14px;
    }

    .wrapper {
        padding: 24px 57px 39px 57px;
        margin: 0 auto;
    }
    .none{
        display: none;
    }
    nav{
        flex-direction: row;
        display: inline-flex;
        white-space: nowrap;
    }
    nav > a{
        padding: 6px 10px;
    }
    nav > a:hover{
        border-radius: 4px;
    }
    main{
        padding: 16px 60px;
    }
    h1{
        font-size: 2rem;
    }
    article > h2, section > h2{
        font-size: 24px;
    }
    section > p, article > p{
        font-size: 14px;
        line-height: 21px;
    }
    figure {
        padding: 20px 30px 10px 30px;
        border-radius: 4px 2px 6px 4px;
    }
    figure > img{
        border-radius: 4px;
    }
    figcaption{
        font-size: 16px;
    }
    ul > li{
        font-size: 14px;
    }
    footer{
        text-align: center;
        font-size: 14px;
    }

}
